{% extends 'base.html' %}
{% block title %} Home {% endblock %}
{% block content %}
<div class="wrapper">
    <h1>Sign up</h1>
    <form action="/register" method="post">
        <p>Full Name</p>
        <input type="text" placeholder="full_Name">
        <p>Email</p>
        <input type="Email" placeholder="Email">
        <p>Phone number</p>
        <input type="Number" placeholder="Phone_number">
        <p>Passoword</p>
        <input type="password" placeholder="Passoword">
        <input type="password" placeholder=" Re-Enter Passoword">
  
    <div class="terms">
        <input type="checkbox" id="checkbox">
        <label for="checkbox">I agree to these
            <a href="">Terms and conditions</a>
        </label>
    </div>
    <button type="submit">Sign Up</button>
    <div class="member">
        Already a member? <a href=".login.html">
            Login Here
        </a>
    </div>
      </form>

</div>


{% endblock %}